.dataInfo img {
    width: 5.5vw;
    height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    object-fit: cover;
    position: relative;
}

.dataInfo h4 {
    position: absolute;
    top: 0;
    left: 0;
}

.dataInfo h3 {
    position: absolute;
    top: 1em;
    left: 0;
}

.blogpost {
    display: flex;
    gap: 1em;
}

.blogCred {
    font-size: .6em;
    margin-top: 1.7vh;
    margin-bottom: .8vh;
    color: rgb(179, 179, 179);
}

.blogCred span {
    color: rgb(236, 216, 34);
}

.blogDesc {
    font-size: 1em;
    font-weight: 500;
    overflow: hidden;
    color: rgb(208, 210, 212);
}

.blogMore {
    font-size: .8em;
    margin-top: 1em;
    color: rgb(28, 176, 235);
    cursor: pointer;
}