*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.db-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.database {
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 233, 233);
    overflow: hidden;
}

.database h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    color: rgb(112, 102, 102);
    font-weight: 400;
    margin: 0;
    width: 30vw;
    padding-top: 7vh;
}

.searchDiv {
    display: flex;
    justify-content: center;
}

.searchDiv input {
    height: 5vh;
    width: 11vw;
    margin-top: 5vw;
    outline: none;
    padding-left: 1.5em;
    font-size: .8em;
    outline: none;
    color: black;
}

.searchArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 44vw;
    height: 30vh;
    margin-bottom: 2vh;
    outline: none;
    font-size: 1.5em;
    padding: 2em;
    border: none;
    border-top: 1px solid rgb(235, 232, 232);
    color: grey;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inputDiv button {
    align-items: center;
    border: none;
    background-color: rgb(92, 86, 86) !important;
    color: yellow !important;
    text-transform: uppercase;
    height: 3em;
    width: 10em;
    border-radius: .5em;
    cursor: pointer;
}

.inputSearch input {
    border: none;
    border-right: 1px solid rgb(228, 228, 228);
}