.infoMetrics {
    margin-bottom: .7em;
    padding: 0;
}

.infoMetrics h3 {
    font-size: 1vw;
    margin: 0;
    padding: 0;
    color: rgb(234, 235, 236);
}

.infoMetrics h4 {
    font-size: .5vw;
    margin: 0;
    padding: 0;
    color: rgb(147, 148, 150);
}

.factsMetrics {
    display: flex;
    gap: 4vw;
}

.infoMetrics span {
    font-size: .8em;
    color: yellow;
}

@media screen and (max-width:550px){
.infoMetrics {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80vw;
}

    .infoMetrics h3 {
        display: flex;
        justify-content: center;
        font-size: .8em;
        color: rgb(234, 235, 236);
        width: 30vw;
    }

    .infoMetrics h4 {
        font-size: .6em;
        font-weight: 100;
        color: rgb(147, 148, 150);
    }

    .factsMetrics {
        display: flex;
        justify-content: space-between;
        gap: 1vw !important;
        width: 10vw;
    }

    .infoMetrics span {
        font-size: .8em;
        color: yellow;
    }
}

@media screen and (max-width: 960px) {
    .infoMetrics {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80vw;
}

    .infoMetrics h3 {
        display: flex;
        justify-content: center;
        font-size: .8em;
        color: rgb(234, 235, 236);
        width: 30vw;
    }

    .infoMetrics h4 {
        font-size: .6em;
        font-weight: 100;
        color: rgb(147, 148, 150);
    }

    .factsMetrics {
        display: flex;
        justify-content: space-between;
        gap: 1vw !important;
        width: 10vw;
    }

    .infoMetrics span {
        font-size: .8em;
        color: yellow;
    }
}
