.infoMetrics {
    margin-bottom: .7em;
    padding: 0;
}

.infoMetrics h3 {
    font-size: 1vw;
    margin: 0;
    padding: 0;
    color: rgb(234, 235, 236);
}

.infoMetrics h4 {
    font-size: .5vw;
    margin: 0;
    padding: 0;
    color: rgb(147, 148, 150);
}

.factsMetrics {
    display: flex;
    gap: 4vw;
}

.infoMetrics span {
    font-size: .8em;
    color: yellow;
}

@media screen and (max-width:50px){
.infoMetrics {
        margin-bottom: .7em;
        padding: 0;
    }

    .infoMetrics h3 {
        font-size: .8em;
        margin: 0;
        padding: 0;
        color: rgb(234, 235, 236);
    }

    .infoMetrics h4 {
        font-size: .6em;
        margin: 0;
        padding: 0;
        color: rgb(147, 148, 150);
    }

    .factsMetrics {
        display: flex;
        justify-content: space-between;
        gap: 1vw !important;
        width: 10vw;
    }

    .infoMetrics span {
        font-size: .8em;
        color: yellow;
    }
}