*,
div,
img,
nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.hero-page {
    width: 100vw;
}

.heroImg img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  object-fit: cover;
  width: 100% !important;
  max-height: 90vh !important;
  position: relative;
}

.heroImg > div {
  position: absolute;
  width: 100%;
  top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div > h1 {
  font-size: 2em;
  font-weight: 100;
  color: rgb(95, 27, 27);
  box-sizing: border-box;
  text-align: center;
}

div > h4 {
  font-size: 1.2em;
  margin-top: 1em;
  color: rgb(88, 85, 85);
  box-sizing: border-box;
  text-align: center;
}

div > h3 {
  margin-top: 2em;
  color: rgb(41, 43, 44);
  box-sizing: border-box;
  text-align: center;
}

@media screen and (max-width: 500px){
  .heroImg img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    object-fit: cover;
    width: 100vw !important;
    height: 50vh;
    position: relative;
  }
  div>h1 {
    font-size: 1em;
    font-weight: 100;
    color: rgb(175, 74, 74);
    box-sizing: border-box;
    text-align: center;
  }
  .heroImg>div {
    position: absolute;
    width: 100vw;
    top: 10vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div>h4 {
    font-size: .8em;
    margin-top: .8em;
    color: rgb(97, 75, 75);
    box-sizing: border-box;
    text-align: center;
  }
  
  div>h3 {
    margin-top: 1em;
    color: rgb(34, 35, 36);
    box-sizing: border-box;
    text-align: center;
    font-weight: 100;
    font-size: .7em;
    width: 70vw;
    margin-left: 12vw;
  }
}
