*,
div,
img,
nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroImg img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  object-fit: cover;
  width: 100vw !important;
  height: 90vh !important;
  position: relative;
}

.heroImg > div {
  position: absolute;
  width: 100vw;
  top: 20vh;
  box-sizing: border-box;
}

div > h1 {
  font-size: 2em;
  font-weight: 100;
  color: rgb(95, 27, 27);
  box-sizing: border-box;
  text-align: center;
}

div > h4 {
  font-size: 1.2em;
  margin-top: 1em;
  color: rgb(88, 85, 85);
  box-sizing: border-box;
  text-align: center;
}

div > h3 {
  margin-top: 2em;
  color: rgb(41, 43, 44);
  box-sizing: border-box;
  text-align: center;
}
