*, img, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offer {
  width: 100vw;
  height: 80vh !;
  display: grid;
  grid-template-rows: 20% 80% !;
  background: rgb(63, 62, 62);
  box-sizing: border-box;
  color: white;
}

.offers img {
  width: 2em;
  height: 2em;
  opacity: 1;
}

.offers {
  display: grid !important;
  grid-template-columns: 18vw 18vw 18vw;
  grid-template-rows: 18vh 18vh 18vh;
  justify-content: center;
  grid-gap: 1.2em;
  color: white;
  width: 60vw;
  margin-top: 3vh;
  margin-bottom: 0;
}

.offer-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(53, 51, 51);
  padding: 1.2em;
}

.offer-divs img {
  margin-right: 1.1em;
  padding: 0;
}

.firstoffer h3 {
  color: rgb(209, 206, 206);
  font-weight: 100;
  overflow: hidden;
  word-wrap: break-word;
}

.firstoffer > h3 > span {
  color: white;
}

.firstoffer h6 {
  color: rgb(185, 184, 184);
  overflow: hidden;
  word-wrap: break-word;
}

.offer-divs h3 {
  margin: 0;
  padding: 0;
}

.offer-divs h6 {
  margin-top: 0;
  padding: 1em 0.6em;
}

.offer-story h6 {
  font-size: 1em;
  color: rgb(207, 206, 206);
  font-weight: 100;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20vw;
  overflow: hidden;
}

.offer-story h1 {
  font-size: 1.3em;
  color: rgb(228, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.offer-story > h1 > span {
  color: white;
  font-weight: 600;
}

.offer-story > h6 > span {
  margin-left: 7em;
}

.offer button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: rgb(117, 110, 12) !important;
  color: white !important;
  font-weight: 500;
  border-radius: .5em;
  outline: none;
  margin-top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
