* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myServices {
  display: flex;
  justify-content: center;
  padding-right: 2em;
  box-sizing: border-box;
  padding-bottom: 2em;
}

.serviceh2 {
  margin-right: 6em;
  font-size: 1.2em;
}

.serviceh6 {
  padding-right: 5em;
}

.service-info img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.service-info h2 {
  color: rgb(225, 229, 233);
}

.service-info h6 {
  color: rgb(255, 255, 255);
}
