* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myServices {
  display: grid;
  gap: 1.5vw;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.serviceh2 {
  font-size: 1vw;
}

.service-info img {
  width: 18vw;
  height: 30vh;
  object-fit: cover;
}

.service-info h2 {
  color: rgb(225, 229, 233);
}

.service-info h6 {
  color: rgb(255, 255, 255);
}

@media screen and (max-width:500px){
.service-info {
   position: absolute;
   display: grid;
   grid-template-columns: 80vw;
   justify-content: center;
}

.service-info h2 {
    font-size: 1em;
}

.service-info img {
  width: 80vw;
  height: 30vh;
  object-fit: cover;
}

.myServices {
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
}
}
