* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.serviceless {
  width: 100vw;
  height: 70vh;
  background: rgb(63, 62, 62);
  padding-top: 2vh;
}

.servicesInfo {
  display: grid;
  grid-template-columns: 45vw 45vw;
  justify-content: space-evenly;
}

.firstInfo h6 {
  font-size: 1.2em;
  color: white;
  font-weight: 300;
  text-align: right;
}

.firstInfo h5 {
  font-size: 1.2em;
  color: white;
  font-weight: 300;
  margin-top: 2em;
  text-align: right;
}

.secondInfo h3 {
  font-size: 2em;
  color: rgb(247, 238, 238);
  font-weight: 300;
  text-align: left;
  margin-top: 2vh;
}

.servicesInfo span {
  color: rgb(253, 253, 253);
  font-weight: 700;
}

.firstInfo {
  width: 100%;
  margin: 1.5em;
}
.secondInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ourService {
    position: relative;
}

.our-services .next-Img {
    width: 20px;
    height: 20px;
    margin: 0;
    position: absolute;
    top: 2em;
    right: 0;
}

.serviceless-span {
  display: flex;
  justify-content: space-around;
}

.serviceless-span h6 {
  color: rgb(228, 228, 228);
  font-size: 0.8em;
  font-weight: 300;
}

.serviceless-span span {
  color: white;
  font-size: 1em;
  font-weight: 600;
  box-sizing: border-box;
}

.serviceless-span button {
  background: rgb(117, 110, 12) !important;
  width: 7vw;
  height: 3em;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: .5em;
  box-sizing: border-box;
  cursor: pointer;
  font-size: .8em;
  font-weight: 700;
}

@media only screen and (max-width:500px){
  .serviceless {
    max-width: 100vw;
    background: rgb(63, 62, 62);
    padding-top: 1vh;
  }
  
  .servicesInfo {
    display: grid;
    grid-template-columns: 95vw;
    margin-bottom: 2vh;
  }

  .firstInfo {
      margin-left: 1vw;
  }

  .firstInfo h6 {
    font-size: 1em;
    color: white;
    font-weight: 300;
    text-align: left;
  }
  
  .firstInfo h5 {
    font-size: 1em;
    color: white;
    font-weight: 300;
    margin-top: 1em;
    text-align: left;
  }

  .secondInfo h3 {
    font-size: 1em;
    color: rgb(247, 238, 238);
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    width: 70vw;
  }

  .serviceless {
    width: 100vw;
    height: 70vh;
    background: rgb(63, 62, 62);
    padding-top: 0;
  }

  .serviceless-span {
      display: flex;
      flex-direction: column;
      margin-top: 2vh;
      display: none;
  }

  .serviceless-span h6 {
      color: rgb(228, 228, 228);
      font-size: 0.8em;
      font-weight: 300;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 2vh;
  }

  .serviceless-span button {
      background: rgb(117, 110, 12) !important;
      width: 30vw;
      height: 3em;
      outline: none;
      color: rgb(255, 255, 255);
      border-radius: .5em;
      box-sizing: border-box;
      cursor: pointer;
      font-size: .8em;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

  }

  .ourService {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 62vw;
  }

  .our-services {
    display: flex;
    flex-direction: column;
  }

  .serviceless-span span {
      color: white;
      font-size: 1em;
      font-weight: 600;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
  }
} 
