*,
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.testimonial {
  width: 100vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: auto;
  grid-gap: 2em;
  background: rgb(53, 51, 51);
  justify-content: center;
}

.top-head h2 {
  font-weight: 400;
  color: rgb(158, 154, 154);
}

.top-head h2 span {
  font-weight: 500;
  color: rgb(221, 221, 221);
}

.funFacts img {
  width: 20vw;
  height: 20vh;
  margin-top: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
  object-fit: cover;
}

.top-head {
  margin-top: 5vh;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.top-head h6 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  color: rgb(202, 202, 202);
  font-size: .8em;
  font-weight: 400;
}

.testhy h6 {
  text-transform: uppercase;
  color: rgb(204, 203, 203);
  font-weight: 400;
}

.quotes {
 padding-top: 2vh; 
 text-align: center;
 background-color: rgb(56, 54, 54);
 overflow: hidden;
}

.quotes h2 {
  font-weight: 400;
  color: rgb(158, 154, 154);
  font-size: 1em;
  margin-bottom: 2vh;
}

.quotes span {
  color: rgb(209, 209, 209);
  font-weight: 400;
}

q {
  text-align: center;
  line-height: 2.3vh;
  color: rgb(165, 166, 167);
  font-size: 1em;
  padding: 0 2em;
}

.quotesh4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-top: 1.5vh;
  padding: 0;
  font-size: 1em;
  display: block;
  color: rgb(219, 219, 219);
  font-weight: 400;
}

.quotesh4 span {
  color: rgb(28, 176, 235);
}
